@import "../misty/current/theme/waybar.css";

*{
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-weight: bold;
  font-size: 16px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

window#waybar {
  background: transparent;
}

#workspaces {
  background: transparent;
  padding: 0 2px;
  margin: 0 10px 0 10px;
  border-radius: 10px;
  border: 1px solid @foreground;
}

#workspaces button {
  padding: 0px 6px;
  margin: 0 2px;
  border-radius: 18px;
  border: 0;
  color: @foreground;
  background: @transparent;
  transition: all 0.3s ease-in-out;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active {
  background-color: @foreground;
  color: @red;
  border-radius: 10px;
  min-width: 30px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background-color: @magenta;
  color: @foreground;
  border-radius: 15px;
  box-shadow: none;
}

#cpu,
#battery,
#pulseaudio,
#custom-launcher,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#bluetooth.disconnected {
  opacity: 0.5;
}

#network {
  margin-right: 13px;
}

#network.disconnected {
  opacity: 0.5;
}

#battery.charging {
  color: @green;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
  border: 1px solid @background;
  border-radius: 12px;
}

tooltip label {
  color: @foreground;
  padding: 6px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}